{% extends "layout.html" %}
{% block body %}

      {% if form_submit == "too_fast" %}
      <div class="alert alert-danger" style="text-align:center;"><b>Please, wait 5 seconds per click.</b> We only fund humans, not super-clicking robot overlords.</div>
      {% endif %}

      <div class="jumbotron" style="margin-bottom: 15px;">

        <h1>Free Bitcoins!</h1>
        <p class="lead">
        Just getting started with Bitcoin, but not ready to deal with mining and exchanges? We give you a little Bitcoin to start you off. 
        Welcome to the future of money!</p>
        <p>
          <a class="btn btn-lg btn-warning" href="#">Balance: {{balance}} uBTC </a>
          <a class="btn btn-lg btn-success" href="/give/{{acc_hash}}"><span class="glyphicon glyphicon-tint"></span> Gimme a Satoshi!</a>
        </p>
      </div>

      <div class="row marketing" style="margin-top: 5px;">
        <div class="col-lg-12">
          <h4>Your Account</h4>
          <p style="text-align:justify;">
            This website is automated, and has no registration. When you visit the homepage a unique url for a temporary
            micro-account is generated. Your url is <code>http://millib.com/account/{{acc_hash}}</code>. You should protect this URL
            like a password, as anyone who has access to it may get Satoshis and withdraw them. If your temporary 
            account has <b>not been used in 48 hours, the funds will be cleared.</b>
          </p>
          
        </div>

        <div class="col-lg-6">
          <h4>What is Bitcoin?</h4>
          <p><a href="http://bitcoin.org/en/">Bitcoin</a> is open source P2P money.  Learn more about it at <a href="http://www.weusecoins.com/en/">We Use Coins</a>.</p>

          <h4>Where can I get Bitcoin?</h4>
          <p>You can earn them here, by <a href="https://www.weusecoins.com/en/mining-guide">mining</a>, or buying them from
          <a href="https://coinbase.com/?r=5176d02a30016af12d000009&src=user-referral&utm_campaign=user-referral">Coinbase</a>.</p>

          
        </div>

        <div class="col-lg-6" >
          <h4>Where can I store my Bitcoins?</h4>
          <p>
          <a href="https://coinbase.com/?r=5176d02a30016af12d000009&src=user-referral&utm_campaign=user-referral">Coinbase</a> offers a service
          that will allow you to setup a wallet in a few seconds.</p>

          <h4>What can I do with Bitcoins?</h4>
          <p>The <a href="https://en.bitcoin.it/wiki/Trade">Bitcoin Wiki - Trade</a> lists 1,000s of services and goods you can purchase with Bitcoin.</p>

        </div>
      </div>
{% endblock %}